<!DOCTYPE html> <!-- HTML 5 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <meta charset="UTF-8"><!-- Suporta Acentuacão -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem</title>
    
    
    
</head>
<body>

    <!-- VAMOS IMPRIR TODOS DO BANCO COM THYMELEAF -->
     <table class="table">
     	<thead>
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Ano</th>
				<th scope="col">Marca</th>
				<th scope="col">Cor</th>
				<th scope="col">Preco</th>
				<th scope="col">Documentacao</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "carro: ${listaCarros}">
				<td th:text="${carro.codigo}"></td>
				<td th:text="${carro.ano}"></td>
				<td th:text="${carro.marca}"></td>
				<td th:text="${carro.cor}"></td>
				<td th:text="${carro.preco}"></td>
				<td th:text="${carro.documentacao}"></td>
				<td> <a th:href="@{/carro/excluir/{codigo}(codigo = ${carro.codigo})}" class="btn btn-danger"> Excluir
					</a></td>
				<td> <a th:href="@{/carro/atualizar/{codigo}(codigo = ${carro.codigo})}" class="btn btn-primary">
						Atualizar </a></td>
			</tr>
			
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/carro/listar">&#128663;</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Menu de Cadastro
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="/carro/formulario">Cadastrar Novos Carros</a></li>
									<li><a class="dropdown-item" href="/carro/listar">Listar Os Carros</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" href="#">Parceiros</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			
   		</tbody>
	</table>
    
    
    <script src="/js/bootstrap.min.js"> </script>
</body>
</html>